*{
    margin: 0;
    padding:0;
    font-family: 'Quattrocento Sans', sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 4em;    
}

header ol{
    list-style-type: none;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: right;
    margin-right: 1em;
    padding-left: 1em;
}

header li{
    display: inline;
    text-align: center;
    
}

header a{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

header a:hover{
    color: #FF007A;
}

h1 img{
    padding: 1em;
}

.ploona{
    margin-top: 2em;
    text-align: center;
    font-style: bold;
}

.bio{
    display: flex;
    position: center;
    justify-content: space-between;
    padding: 4em;
}


.bio p{
    margin-left: 1em;
    text-align: left;
}

video{
    width: 100%;
    opacity: 28%;
}

.video1{
    display: flex;
}

.esquerda h2{
    text-align: left;
    margin-left: 4em;
    margin-top: -18em;
    display: flex;
    font-size: 40px;
    margin-bottom: 1em;
    border-bottom: 1px solid black;

}

.esquerda p{
    margin-left: 4em;
    margin-right: 4em;
    font-style: bold;
    margin-bottom: 1.5em;
}

#oec{
    margin-top: 30em;
}

.direita h2{
    text-align: center;
    position: right;
    margin-left: 20em;
    margin-top: -15em;
    display: flex;
    font-size: 40px;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.direita p{
    margin-left: 4em;
    margin-right: 4em;
    font-style: bold;
    margin-bottom: 1.5em;
}

#yyxy{
    margin-top: 30em;
}

#espaco{
    height: 36em;
}

footer{
    text-align: center;
    position: center;
    padding: 4em;
    padding-top: 6em;
}

footer nav{
    display: flex;
    justify-content: center;
}

footer figure{
    padding: 8px;
}

footer p{
    font-family:'Quattrocento Sans', sans-serif;
}

article{
    text-align: center;
    position: center;
    justify-content: center;
}